*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
}

:root {
  --primary-color: #fff;
  --secondary-color: #11101d;
  --Third-color :rgba(31, 29, 48, 0.7);
}

.light {
  --primary-color: #11101d;
  --secondary-color: #fff;
  --Third-color: rgb(245, 238, 238);
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(154, 156, 157);
}


.home_contetnt{
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.home_contetnt .text{
  font-size: 25px;
  margin: 30px 40px;
}

.active ~ .home_contetnt{
  width: calc(100% - 240px);
  left:240px
}
